*.exe

/CILantro/packages
/CILantro/CILantro.Engine/bin
/CILantro/CILantro.Engine/obj
/CILantro/CILantro.Engine.Interpreter/bin
/CILantro/CILantro.Engine.Interpreter/obj
/CILantro/CILantro.Engine.Parser/bin
/CILantro/CILantro.Engine.Parser/obj
/CILantro/CILantro.Helpers/bin
/CILantro/CILantro.Helpers/obj
/CILantro/CILantro.UI.ConsoleUI/bin
/CILantro/CILantro.UI.ConsoleUI/obj